#login {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login .card_login img {
    height: 100px;
    width: 100px;
}

.login .card_login {
    background-color: #f1faee;
    width: 37rem;
}

.login .card_login .text-center h1 {
    font-weight: 700;
}

.login .card_login .card-icon h1 {
    font-size: 27px;
    color: #FF7F0A;
    font-weight: 600;
}

.login .card_login form .btn-login {
    background-color: #FF7F0A;
    color: #FFF;
}

.card_login form .password .icon-password {
    top: 44px;
    right: 0;
    color: #636363;
}