#login .container {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login .container .card_login img {
    height: 100px;
    width: 100px;
}

.login .container .card_login {
    background-color: #f1faee;
    width: 600px;
}

.login .container .card_login .text-center h1 {
    font-weight: 700;
}

.login .container .card_login .card-icon h1 {
    font-size: 27px;
    color: #FF7F0A;
    font-weight: 600;
}

.login .container .card_login form .btn-login {
    background-color: #FF7F0A;
    color: #FFF;
}