#dashboard {
    font-family: 'Inter', sans-serif;
}

.dashboard .statistic-menu .row .col .card-link:hover {
    transform: translateY(-10px);
    transition: transform 250ms;
}

.dashboard .statistic-chart .row .card canvas {
    height: 360px !important;
}

.welcome-card img {
    height: 190px;
}

/* #dashboard .statistic-menu .row .col .card-link .p-3 .d-flex {
    gap: 100px;
} */

@media screen and (max-width: 767px) {
    #dashboard .statistic-chart .row .chart-2 {
        margin-top: 28px;
    }
}