.transaction .card-normal {
    height: 140px;
}

.transaction .card-normal h3 {
    color: var(--green);
}



.filtering-data-chart {
    font-family: 'Montserrat', sans-serif;
}

.filtering-data-chart h4 {
    padding: 26px 0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #959595;
    line-height: 10px;
    cursor: pointer;
}

.filtering-data-chart .active {
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
}


@media screen and (max-width: 1070px) {

    .filtering-data-chart h4 {
        font-size: 16px;
        line-height: 0;
    }

    .d-flex .search-container .input-search {
        width: 100% !important;
    }

    .d-flex .search-container {
        margin-bottom: 20px;
    }


    .filtering-data-chart {
        justify-content: center;
    }

}


@media screen and (max-width: 784px) {
    .filtering-data-chart h4 {
        font-size: 14px;
        line-height: 0;
    }

    .card .p-datatable-wrapper table thead tr th {
        font-size: 14px
    }


}

@media screen and (max-width: 392px) {
    .filtering-data-chart h4 {
        font-size: 12px;
        line-height: 0;
        margin-bottom: 0px;
    }
}